<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Image upload and download</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-grid>
    <ion-row>
      <div>
        <ion-label >
          Upload Image
          <input (change)="imageUpload($event.target.files,'1')" type="file" class="form-control" accept="image/*">
        </ion-label>
      </div>
    </ion-row>
</ion-grid>
  <br>
  <ion-grid>
    <ion-row>
      <div>
        <a [href]="downloadImage" download>
          <img *ngIf="downloadImage" [src]="downloadImage" alt="">
        <ion-button>
          Download Image
        </ion-button>
        </a>
      </div>
    </ion-row>
    </ion-grid>


</ion-content>
